html { height: 100% }
body { height: 100%; margin: 0px; padding: 0px }
#mapDiv{height:800px; width:800px; float:left; }
#accountinfo{height:400px; width:400px; float:left;}
#accountinfo img{height:600px; width:600px; float:left;}
#map_canvas { height: 100%; width: 100%; }
