<div id = "maincontainer">

	<%= render 'shared/header'%>

	<div id = "main">

	
	<% if user_signed_in?%>
    <div class = "headlineholder">Signed in as <%= current_user.email %>.  Not you? <%= link_to "Sign out", destroy_user_session_path, :method => :delete  %>
	<p>Your location has been successfully stored to the rails console!</p>
	</div>
     <% else %>
<div class = "subdescholder">Exercise, have fun, and track your progress.</div>
<a href = "/auth/facebook"><div class = "login"></div></a>	
     <% end %>
		
		
	</div>

</div>
