<div id = "maincontainer">

	<div id = "header">
	
		<div class = "headlineholder">Walking Dead</div>
	
	</div>

	<div id = "main">

	
	
	<div class = "subdescholder">Exercise, have fun, and track your progress.</div>


		<div class = "login"></div>	
		
	</div>

</div>