<div id = "maincontainer">

	<%= render 'shared/header'%>

	<div id = "main">

	<div class = "subdescholder">Exercise, have fun, and track your progress.</div>
	<% if user_signed_in?%>
 Signed in as <%= current_user.email %>.  Not you?
 <%= link_to "Sign out", destroy_user_session_path, :method => :delete  %>
<% else %>
<% end %>
		<a href = "/auth/facebook"><div class = "login"></div></a>	
		
	</div>

</div>
